name: Pull Request Verification

on:
  pull_request: 
    branches: ["main"] 
    
jobs: 
  build:
    name: Pull Request Verification
    runs-on: ubuntu-24.04
    
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: '10.0.100'
      - name: Build with dotnet
        run: dotnet build --configuration Release